.btn-volver {
  margin: 0 0 10px 0;
  border-radius: 8px;
  font-size: 45px;
  border: 1px solid #e5e7eb;
  background: #b1acac;
  cursor: pointer;
  width: 10%;
}

.btn-volver:hover {
  background: #d4d4d8;
}


.pagina-perfil {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.perfil-card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr;  
    grid-template-areas:
        "nombre nombre"
        "info   foto";
    gap: 1.5rem;
    background-color: #cec8c8;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    border: 3px solid #646464;
}

.foto-perfil {
    grid-area: foto;
    width: 100%;
    height: 320px;
    border-radius: 9px;
    object-fit: cover;
}

.info {
    font-size: 20px;
    margin: auto;
    grid-area: info;
}


.lista-publicaciones {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.publicacion {
    border: 1px solid #646464;
    padding: 10px;
    border-radius: 10px;
    background-color: #b1acac;
}

.encabezado-publicacion {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 9px;
}

.mini-foto {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.imagen-publicacion {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 10px;
    margin: .5rem 0;
}

.descripcion-publicacion {
    margin: .25rem 0 .5rem;
}

.comentarios {
    margin-top: .5rem;
}

.cabecera-comentario {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.fecha-comentario {
    color: #777;
}

.nombreYapellido{
    grid-area: nombre;
    font-size: 40px;
    margin: auto;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 200px auto;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 5px solid #0078ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
}
