<div class="container">
  <div class="logo">
    <img src="/ChatGPT Image 28 oct 2025, 19_19_18.png" alt="Logo" routerLink="/" />
  </div>

  @if (auth.usuario) {
  <ul class="nav-links">
    <li><a routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a></li>
    <li><a routerLink="/miperfil" routerLinkActive="active">Mi Perfil</a></li>
  </ul>
  } @else {
  <div class="nav-links"></div>
  }

  <div class="nav-actions">
    @if (auth.usuario) {
    <div class="profile-container">
      <img [src]="(auth.usuario && auth.usuario.fotoUrl) || 'assets/user.jpg'" class="profile-pic" alt="Foto perfil">

      <div class="profile-preview">
        <img [src]="(auth.usuario && auth.usuario.fotoUrl) || 'assets/user.jpg'" alt="Foto grande">
        <div class="user-data">
          <p class="name">
            {{ auth.usuario.nombre }} {{ auth.usuario.apellido }}
          </p>
          <p class="email">
            {{ auth.usuario.correo }}
          </p>

        </div>
      </div>
    </div>
    <button class="btn logout" (click)="onLogout()">Cerrar sesión</button>
    } @else {
    <div class="auth-buttons">
      <button class="btn login" routerLink="/login">Iniciar sesión</button>
      <button class="btn register" routerLink="/registro">Registrarse</button>
    </div>
    }
  </div>
</div>