<article class="card" (click)="abrir.emit(pub._id)">
  <header class="user">
    <div class="avatar" [style.background-image]="'url(' + (pub.usuario.fotoUrl || '') + ')'"
      [class.has-img]="!!pub.usuario.fotoUrl">
      @if (!pub.usuario.fotoUrl) { {{ avatarIniciales(pub.usuario.nombre, pub.usuario.apellido) }} }
    </div>

    <div class="meta">
      <div class="name">
        <strong>{{ pub.usuario.nombre }} {{ pub.usuario.apellido }}</strong>
        <small>&lt;{{ pub.usuario.correo | correoOculto}}&gt;</small>
      </div>
      <!-- <small class="date">{{ pub.createdAt | date:'medium' }}</small> -->
       <small class="date">{{ pub | formatoFecha}}</small>
    </div>

    @if (esPropia) {
    <button class="ghost" (click)="$event.stopPropagation(); $event.preventDefault(); eliminar.emit(pub._id)">
      Eliminar
    </button>
    }
  </header>

  <hr>

  <h3 class="titulo">{{ pub.titulo }}</h3>
  <p class="descripcion">{{ pub.descripcion }}</p>

  @if (pub.imagenUrl) {
  <img class="imagen" [src]="pub.imagenUrl!" alt="imagen publicación"
    (click)="$event.stopPropagation(); $event.preventDefault();" />
  }

  <hr>

  <footer class="acciones">
    @if (!dioLike) {
    <button class="like" (click)="$event.stopPropagation(); $event.preventDefault(); like.emit(pub._id)">
      👍 Me gusta ({{ pub.likesCount }})
    </button>
    } @else {
    <button class="liked" (click)="$event.stopPropagation(); $event.preventDefault(); unlike.emit(pub._id)">
      👎 Quitar Me Gusta ({{ pub.likesCount }})
    </button>
    }

    <button class="ghost" (click)="$event.stopPropagation(); $event.preventDefault(); toggleComentar()">
      📩 Comentar
    </button>
  </footer>

  @if (comentarAbierto()) {
  <div class="comentar" (click)="$event.stopPropagation(); $event.preventDefault();">
    <input [(ngModel)]="textoComentario" placeholder="Escribe un comentario..." maxlength="800"
      (click)="$event.stopPropagation(); $event.preventDefault();" />
    <button (click)="$event.stopPropagation(); $event.preventDefault(); enviarComentario()">
      Enviar
    </button>
  </div>
  }

  <section class="comentarios" (click)="$event.stopPropagation(); $event.preventDefault();">
    @if (pub.comentarios.length > 0) {
    <h4>Comentarios ({{ pub.comentarios.length }})</h4>
    <ul>
      @for (c of pub.comentarios.slice(0,2); track (c._id ?? (c.createdAt + '-' + c.autor.correo) ?? $index)) {
      <li>
        <div class="bubble">
          <div class="autor">
            <strong>{{ c.autor.nombre }} {{ c.autor.apellido }}</strong>
            <small>&lt;{{ c.autor.correo | correoOculto}}&gt;</small>
            <span class="ago">{{ c | formatoFecha }}</span>
          </div>
          <p>{{ c.texto }}</p>
        </div>
      </li>
      }
    </ul>
    }
  </section>
</article>